<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Todo List</h1>
    <form id="todo-form" action="/todos" method="post">
        <input type="text" id="task" placeholder="Enter task" name="task">
        <button type="submit">Add Task</button>
    </form>
    <ul id="todo-list">
        <% data.forEach(item => { %>
            <h1><%= item.task %></h1>
        <% }) %>

    </ul>
    <script src="script.js"></script>
</body>
</html>
